<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default" style="width: 480px;margin: 0 auto;">
<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title"><%= item.tag%>
    <!-- <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <%= item.title %>
    </a> -->
    <a href="/answer/<%= item.id %>">
      <%= item.title %></a>
  </h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" style="width: 480px;margin: 0 auto;">
  <div class="panel-body">
    <p>
  <strong><%= item.author %></strong>
    </p>
    <article class="answer">
      <%= item.article%>
    </article>
  </div>
</div>
</div>
